# Iris Dataset

The Iris Dataset was introducted in 1936 when Edgar Anderson collected the data to quantify varietys of iris flowers of three related species. The dataset consisted of 50 samples from each of the three species. Four features were measured, the length and width ofof the sepal and petal of each folower recorded in centimetres. The results of this experiment were published in a paper by Ronald Fisher. Fisher developed a linear discriminate model to distinguish the species from one another.

## Goals
1. Import Dataset
2. Train a Classifier
3. Prodict label fo new flower.

<img src="https://www.schreinersgardens.com/shop/images/cominguproses_web1.jpg" 
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" />

In [1]:
from IPython.display import IFrame

In [2]:
IFrame('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', width=300, height=200)

The above Dataset is in comma sepeated format. For example the first line of data states that the sepal length of the flower is 5.1,sepal width is 3.5, petal lenth is 1.4, petal width is 0.2 and the species is Iris Setosa.

In [3]:
# Import pandas.
import pandas as pd
# Load the iris data set from a URL.
df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

In [4]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
#df['row name'] prints the index numbers along with the row you want to search for
df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [6]:
#import numpy as np
df['sepal_length'].hist(bins=30)

In [7]:
#dataframe.sample(5) gives 5 random rows from the frame
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
139           6.9          3.1           5.4          2.1   virginica
98            5.1          2.5           3.0          1.1  versicolor
63            6.1          2.9           4.7          1.4  versicolor
136           6.3          3.4           5.6          2.4   virginica
96            5.7          2.9           4.2          1.3  versicolor

In [8]:
#dataframe.isnull().sum(), checks out how many null info are on the dataset
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
#Display data in a histagram.
import matplotlib as mpl
df.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000025089A2D198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025089A517B8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000025089A7AE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025089AAC518>]],
      dtype=object)

In [ ]:
import seaborn as sns

In [ ]:
sb.pairplot(df)

In [ ]:
#dataser[index:index] prints the data between the 2 indexes provided exclusing second index
df[4:9]

In [ ]:
#dataset.loc[4:9] prints the data between the 2 indexes provided including second index named 
df.loc[4:9]

In [ ]:
#dtaset.iloc[index] prints a list of the header and the value associated with each header at a specific index
df.iloc[8]

In [ ]:
#dataset["header name"][index] returns the value of that header name at the specific index/indexes
df['sepal_length'][1:3]

In [ ]:
#dataset["header name"][::index]
df['sepal_length'][::10]

In [ ]:
#Dataset[::index] gives very multiple of the value provided
df[::3]

In [ ]:
df[df['sepal_length'] == 5.1]

In [ ]:
#dataset.head() function gives the used a list of the first 10 indexed in the dataset.
df.head()

In [ ]:
#dataset.tail() function gives the used a list of the last 10 indexed in the dataset.
df.tail()

In [ ]:
#dataset.describe() Generates descriptive statistics that summarize the central tendency, 
#dispersion and shape of a dataset’s distribution, excluding NaN values.
df.describe()

In [ ]:
#dataset.mean() gives the mean value for each header within the dataset
df.mean()

 https://en.wikipedia.org/wiki/Iris_flower_data_set
https://www.youtube.com/watch?v=tNa99PG8hR8
https://www.youtube.com/watch?v=hd1W4CyPX58
https://github.com/justmarkham/scikit-learn-videos/blob/master/03_getting_started_with_iris.ipynb
https://medium.com/codebagng/basic-analysis-of-the-iris-data-set-using-python-2995618a6342
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html